.button
{
	font-size: 1.4em;
	background-color: #aeaeae;
	border:none;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	outline: none;
}

.button:active
{
	background-color: #ccc;
}

.button.double
{
	grid-column: span 2;
}

.button.triple
{
	grid-column: span 3;
}

.button.operation
{
	background-color: #fa8231;
	color: #fff;
}

.button.operation:active
{
	background-color: #fa8231cc;
}